.App {
    background-color: #fdfeff;
}

section {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#banner {
}

#skills {

}

#projects {
    height: auto !important;
}