@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.App {
    font-family: 'Teko', sans-serif !important;
    /* font-family: Arial, Helvetica, sans-serif; */
}


#headers {
    font-size: 7rem;
}

/* BANNER */
#banner {
   
}

#img {
    /* width: 100%; */
    width: 75%;
    background-color: #FF6700;
}

#down-btn {
    color: #FF6700 !important;
}


#developer {
    color: #FF6700;
}

/* skills */
#skills {

    position: relative;
    height: 90vh;
    /* padding: 3rem; */
}

#skills::before {
    content: '';
    position: absolute;
    height: 40%;
    width: 100%;
    background: #FF6700;
    top: 0;
    z-index: -99;
}

#skills-ind {
    background-color: transparent !important;
}

#shadow {
-webkit-box-shadow: 17px 10px 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 17px 10px 20px -10px rgba(0, 0, 0, 0.1);
}




/* Projects */
#project-card {
    cursor: pointer;
}

#card-body {
    top: 0 !important;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: black;
    opacity: 0.85;
}

#project-btn {
    min-width: 60px;
}

#stack {
    min-width: 60px;
}

/* FOOTER */
footer {
    height: 55vh;
    /* background-color: #FF6700; */
}

#contact {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 400px;
    bottom: -50%;
}

#email {
    cursor: pointer;
}

#copy {
    top: -50%;
    right: -35%;
    transform: rotate(15deg);
}

#info {
    background-color: #FF6700;
}


@media (max-width: 992px) {


    #img {
        width: 50%;
    }
}

@media (max-width: 768px) {

    #headers {
        font-size: 5rem !important;
    }

    #img {
        width: 70%;
    }

    #frameworks {
        text-align: start !important;
    }
}










