@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary-color: #38CEAC;
}

* p,span,h1,h2,h3,h4 {
    letter-spacing: 0.5px !important;
}

.App {
    font-family: 'Teko', sans-serif !important;
    /* font-family: Arial, Helvetica, sans-serif; */
}


#headers {
    font-size: 7rem;
}

/* NAVBAR */
#triangle {
    /* color: var(--primary-color); */
    color: lightgray;
    bottom: 0;
    z-index: -99 !important;
    transform: rotate(45deg) ;
}

#dot {
    width: 7.5px !important;
    height: 7.5px !important;
}

/* BANNER */
#banner {
    height: 90vh !important;
}

#img {
    /* width: 100%; */
    width: 75%;
    background-color: var(--primary-color);
}

#down-btn-cont {
    height: 7.5% !important;
}

#down-btn {
    color: var(--primary-color) !important;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 200px;
    animation-name: bounce-7;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes bounce-7 {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1, .9) translateY(0);
    }

    30% {
        transform: scale(.9, 1.1) translateY(-10px);
    }

    50% {
        transform: scale(1.05, .95) translateY(0);
    }

    57% {
        transform: scale(1, 1) translateY(-7px);
    }

    64% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}


#developer {
    color: var(--primary-color);
}

/* skills */
#skills {
    position: relative;
    height: 80vh !important;
}

#skills::before {
    content: '';
    position: absolute;
    height: 45%;
    width: 100%;
    background: var(--primary-color);
    top: 0;
    z-index: -99;
}

#skills-ind {
    background-color: transparent !important;
}

#shadow {
-webkit-box-shadow: 17px 10px 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 17px 10px 20px -10px rgba(0, 0, 0, 0.1);
}


/* PROJECTS */
#project-card {
    cursor: pointer;
}

#card-body {
    top: 0 !important;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: black;
    opacity: 0.9;
}

#project-btn {
    min-width: 60px;
}

#stack {
    min-width: 60px;
}

/* FOOTER */
footer {
    height: 55vh;
    /* background-color: var(--primary-color); */
}

#contact-cont {
    height: 40% !important;
}

#contact {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 400px;
    bottom: -35%;
}

#email {
    cursor: pointer;
}

#copy {
    top: -50%;
    right: -35%;
    transform: rotate(15deg);
}

#info {
    height: 60% !important;
    background-color: var(--primary-color);
}


@media (max-width: 992px) {


    #img {
        width: 50%;
    }
}

@media (max-width: 768px) {

    #headers {
        font-size: 5rem !important;
    }

    #img {
        width: 70%;
    }

}










